Repository beastyrabbit/burrow: changes, and which lefthook commands are due for each by the changed paths.
All: tsc, clippy, rustfmt, rust-test

tsc:
  run: npx tsc --noEmit

clippy:
  run: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings

rustfmt:
  run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check

rust-test:
  run: cargo test --manifest-path src-tauri/Cargo.toml --quiet

fix: address code review findings
  .claude/agents/security-reviewer.md
  .claude/hooks/block-dep-edits.sh
  .claude/hooks/rustfmt-on-save.sh
  .claude/skills/new-command/SKILL.md
  .claude/skills/tdd-cycle/SKILL.md
  lefthook.yml
Due: none

fix: add jq guard and set -uo pipefail to rustfmt hook
  .claude/hooks/rustfmt-on-save.sh
Due: none

feat: add Claude Code automations — hooks, skills, agent, pre-push (#49)
  .claude/agents/security-reviewer.md
  .claude/hooks/block-dep-edits.sh
  .claude/hooks/rustfmt-on-save.sh
  .claude/settings.json
  .claude/skills/new-command/SKILL.md
  .claude/skills/tdd-cycle/SKILL.md
  lefthook.yml
Due: none

Run kub-merge in kitty from cowork and improve install-app relaunch
  scripts/install.sh
  src-tauri/src/commands/special.rs
Due: clippy, rustfmt, rust-test

Stabilize special command e2e cowork locator
  e2e/special.spec.ts
Due: tsc

Add kub-merge cowork terminal command and improve install relaunch (#50)
  e2e/special.spec.ts
  scripts/install.sh
  src-tauri/src/commands/special.rs
Due: tsc, clippy, rustfmt, rust-test

fix: harden action execution and replace unsafe process timeouts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/actions/handlers.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/lib.rs
  src-tauri/src/process_timeout.rs
  src-tauri/src/text_extract.rs
Due: clippy, rustfmt, rust-test

fix: harden action execution and replace unsafe process timeouts (#51)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/actions/handlers.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/lib.rs
  src-tauri/src/process_timeout.rs
  src-tauri/src/text_extract.rs
Due: clippy, rustfmt, rust-test

feat: add output windows with polling-based streaming
  CLAUDE.md
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/actions/output_window.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/files.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/math.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/onepass_vault.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/commands/ssh.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/context.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/lib.rs
  src-tauri/src/output_buffers.rs
  src-tauri/src/router.rs
  src-tauri/src/window_manager.rs
  src/OutputView.css
  src/OutputView.tsx
  src/main.tsx
  src/mock-tauri.ts
Due: tsc, clippy, rustfmt, rust-test

refactor: simplify output buffer and view code
  src-tauri/src/actions/output_window.rs
  src-tauri/src/output_buffers.rs
  src/OutputView.tsx
Due: tsc, clippy, rustfmt, rust-test

fix: address code review findings
  src-tauri/src/actions/output_window.rs
  src-tauri/src/context.rs
  src-tauri/src/output_buffers.rs
  src-tauri/src/window_manager.rs
  src/mock-tauri.ts
Due: tsc, clippy, rustfmt, rust-test

fix: add camelCase serde aliases for HTTP bridge compatibility
  src-tauri/src/dev_server.rs
Due: clippy, rustfmt, rust-test

fix: address greptile review feedback
  src-tauri/src/actions/output_window.rs
  src-tauri/src/window_manager.rs
Due: clippy, rustfmt, rust-test

fix: address second round of greptile review feedback
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/output_window.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/output_buffers.rs
  src/OutputView.tsx
Due: tsc, clippy, rustfmt, rust-test

fix: address third round of greptile review feedback
  src-tauri/src/actions/output_window.rs
  src-tauri/src/output_buffers.rs
  src/OutputView.tsx
Due: tsc, clippy, rustfmt, rust-test

fix: address fourth round of greptile review feedback
  src-tauri/capabilities/default.json
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/output_window.rs
  src-tauri/src/commands/special.rs
  src/main.tsx
Due: tsc, clippy, rustfmt, rust-test

feat: add output windows with polling-based streaming (#52)
  CLAUDE.md
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/actions/output_window.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/files.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/math.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/onepass_vault.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/commands/ssh.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/context.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/lib.rs
  src-tauri/src/output_buffers.rs
  src-tauri/src/router.rs
  src-tauri/src/window_manager.rs
  src/OutputView.css
  src/OutputView.tsx
  src/main.tsx
  src/mock-tauri.ts
Due: tsc, clippy, rustfmt, rust-test

docs: update CLAUDE.md for v0.3.0 output window changes
  CLAUDE.md
Due: none

feat: add --dangerously-skip-permissions to cowork command
  src-tauri/src/commands/special.rs
Due: clippy, rustfmt, rust-test

feat: add --dangerously-skip-permissions to cowork command (#53)
  src-tauri/src/commands/special.rs
Due: clippy, rustfmt, rust-test

fix: set spawned app CWD to $HOME instead of inheriting Burrow's CWD
  CLAUDE.md
  src-tauri/src/actions/output_window.rs
  src-tauri/src/actions/utils.rs
Due: clippy, rustfmt, rust-test

fix: set SSH terminal CWD to $HOME for consistency
  src-tauri/src/actions/utils.rs
Due: clippy, rustfmt, rust-test

fix: spawned apps inherit $HOME as CWD (#54)
  CLAUDE.md
  src-tauri/src/actions/output_window.rs
  src-tauri/src/actions/utils.rs
Due: clippy, rustfmt, rust-test

Migrate cowork and kub-merge special commands to Codex
  e2e/special.spec.ts
  src-tauri/src/actions/handlers.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/router.rs
Due: tsc, clippy, rustfmt, rust-test

wip: prepare for PR
  .codex/skills/new-command/SKILL.md
  .codex/skills/tdd-cycle/SKILL.md
  AGENTS.md
Due: none

chore: codex parity (agents/skills/mcp)
  .codex/skills/new-command/SKILL.md
  .codex/skills/tdd-cycle/SKILL.md
  AGENTS.md
Due: none

Migrate cowork and kub-merge special commands to Codex (#55)
  e2e/special.spec.ts
  src-tauri/src/actions/handlers.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/router.rs
Due: tsc, clippy, rustfmt, rust-test

chore: trim AGENTS.md to actionable instructions only
  AGENTS.md
Due: none

feat: add Codex JSONL output window with structured rendering
  e2e/codex-output.spec.ts
  package.json
  pnpm-lock.yaml
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/actions/output_window.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/files.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/math.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/onepass_vault.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/commands/ssh.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/router.rs
  src-tauri/src/window_manager.rs
  src/CodexOutputView.css
  src/CodexOutputView.tsx
  src/OutputView.tsx
  src/main.tsx
  src/useOutputPolling.ts
Due: tsc, clippy, rustfmt, rust-test

fix: address code review findings
  package.json
  pnpm-lock.yaml
  src-tauri/src/actions/handlers.rs
  src/CodexOutputView.css
  src/CodexOutputView.tsx
  src/OutputView.tsx
  src/useAutoScroll.ts
Due: tsc, clippy, rustfmt, rust-test

fix: address greptile review feedback
  src/CodexOutputView.tsx
Due: tsc

fix: address greptile review feedback (round 2)
  src/CodexOutputView.tsx
Due: tsc

fix: address greptile review feedback (round 3)
  src/CodexOutputView.tsx
Due: tsc

fix: address greptile round 4 review feedback
  src/CodexOutputView.tsx
  src/useAutoScroll.ts
Due: tsc

fix: address greptile round 5 review feedback
  src/CodexOutputView.tsx
  src/useAutoScroll.ts
Due: tsc

fix: address greptile round 6 review feedback
  src/CodexOutputView.css
  src/CodexOutputView.tsx
  src/useAutoScroll.ts
Due: tsc

fix: address greptile round 7 review feedback
  src/CodexOutputView.tsx
  src/useAutoScroll.ts
Due: tsc

fix: address greptile review feedback
  src-tauri/src/commands/special.rs
  src/CodexOutputView.tsx
Due: tsc, clippy, rustfmt, rust-test

fix: sanitize href attribute on markdown links + stable React keys
  src/CodexOutputView.tsx
  src/OutputView.tsx
Due: tsc

fix: document stopped-guard tradeoff in useOutputPolling
  src/useOutputPolling.ts
Due: tsc

Path conditions:
  tsc: any of: **/*.{ts,tsx}
  clippy: any of: **/*.rs
  rustfmt: any of: **/*.rs
  rust-test: any of: **/*.rs
