Repository beastyrabbit/burrow: changes, and which lefthook commands are due for each by the changed paths.
All: tsc, clippy, rustfmt, rust-test

tsc:
  run: tsc --noEmit

clippy:
  run: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings

rustfmt:
  run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check

rust-test:
  run: cargo test --manifest-path src-tauri/Cargo.toml --quiet

fix: add timeout to all op CLI calls to prevent indefinite hangs
  src-tauri/src/commands/onepass.rs
Due: clippy, rustfmt, rust-test

fix: add timeout to fetch_account_ids for consistency
  src-tauri/src/commands/onepass.rs
Due: clippy, rustfmt, rust-test

docs: add zeroize and op CLI timeout patterns to CLAUDE.md
  CLAUDE.md
Due: none

fix: prevent shell injection in SSH execution (closes #16)
  src-tauri/src/actions/dry_run.rs
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/utils.rs
  src-tauri/src/commands/files.rs
  src-tauri/src/commands/ssh.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/tests/router_integration.rs
Due: clippy, rustfmt, rust-test

fix: prevent shell injection in SSH execution (closes #16) (#21)
  src-tauri/src/actions/dry_run.rs
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/utils.rs
  src-tauri/src/commands/files.rs
  src-tauri/src/commands/ssh.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/tests/router_integration.rs
Due: clippy, rustfmt, rust-test

refactor: replace stringly-typed SearchResult.category with Category enum
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/files.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/math.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/onepass_vault.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/commands/ssh.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/router.rs
  src-tauri/tests/router_integration.rs
Due: clippy, rustfmt, rust-test

refactor: replace stringly-typed SearchResult.category with Category enum (#22)
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/files.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/math.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/onepass_vault.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/commands/ssh.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/router.rs
  src-tauri/tests/router_integration.rs
Due: clippy, rustfmt, rust-test

refactor: make DbState and VectorDbState inner fields private
  src-tauri/src/commands/chat.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/indexer.rs
  src-tauri/src/lib.rs
Due: clippy, rustfmt, rust-test

fix: address silent failure issues from plugin-audit
  src-tauri/src/actions/utils.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/indexer.rs
  src-tauri/src/lib.rs
Due: clippy, rustfmt, rust-test

refactor: make DbState and VectorDbState inner fields private (#23)
  src-tauri/src/actions/utils.rs
  src-tauri/src/commands/chat.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/indexer.rs
  src-tauri/src/lib.rs
Due: clippy, rustfmt, rust-test

refactor: type 1Password cache items instead of serde_json::Value (#15)
  src-tauri/src/commands/onepass.rs
Due: clippy, rustfmt, rust-test

refactor: type 1Password cache items instead of serde_json::Value (#15) (#24)
  src-tauri/src/commands/onepass.rs
Due: clippy, rustfmt, rust-test

feat: add UI feedback for 1Password vault load (#19)
  src-tauri/src/actions/handlers.rs
  src/App.tsx
  src/mock-tauri.ts
  vite.config.ts
Due: tsc, clippy, rustfmt, rust-test

test: add VaultLoadResult tests and constructors
  src-tauri/src/actions/handlers.rs
Due: clippy, rustfmt, rust-test

feat: add UI feedback for 1Password vault load (#25)
  src-tauri/src/actions/handlers.rs
  src/App.tsx
  src/mock-tauri.ts
  vite.config.ts
Due: tsc, clippy, rustfmt, rust-test

feat: add structured logging and fix critical mutex handling
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/actions/dry_run.rs
  src-tauri/src/actions/handlers.rs
  src-tauri/src/chat.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/chat.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/onepass_vault.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/icons.rs
  src-tauri/src/indexer.rs
  src-tauri/src/lib.rs
  src-tauri/src/logging.rs
  src-tauri/src/ollama.rs
  src-tauri/src/text_extract.rs
Due: clippy, rustfmt, rust-test

fix: improve error handling and user feedback
  src-tauri/src/actions/handlers.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/lib.rs
  src-tauri/src/text_extract.rs
  src/App.tsx
Due: tsc, clippy, rustfmt, rust-test

fix: clear current_file in finish_with_error for consistency
  src-tauri/src/indexer.rs
Due: clippy, rustfmt, rust-test

feat: add structured logging and fix critical error handling (#31)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/actions/dry_run.rs
  src-tauri/src/actions/handlers.rs
  src-tauri/src/chat.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/chat.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/onepass_vault.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/icons.rs
  src-tauri/src/indexer.rs
  src-tauri/src/lib.rs
  src-tauri/src/logging.rs
  src-tauri/src/ollama.rs
  src-tauri/src/text_extract.rs
  src/App.tsx
Due: tsc, clippy, rustfmt, rust-test

fix: prevent mouse hover selection when window opens under cursor
  src/App.tsx
Due: tsc

fix: add 10px movement threshold to ignore mouse jitter
  src/App.tsx
Due: tsc

refactor: use discriminated union for mouse hover state machine
  src/App.tsx
Due: tsc

feat: add BURROW_HEADLESS mode for testing
  playwright.config.ts
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
Due: tsc, clippy, rustfmt, rust-test

fix: address code review findings from plugin-audit
  src-tauri/src/lib.rs
  src/App.tsx
Due: tsc, clippy, rustfmt, rust-test

fix: ignore single-instance toggles in headless mode
  src-tauri/src/lib.rs
Due: clippy, rustfmt, rust-test

fix: prevent mouse hover selection when window opens under cursor (#32)
  playwright.config.ts
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/App.tsx
Due: tsc, clippy, rustfmt, rust-test

fix: use claude instead of cc in cowork command
  src-tauri/src/commands/special.rs
Due: clippy, rustfmt, rust-test

test: update e2e test for cowork command description
  e2e/special.spec.ts
Due: tsc

fix: use claude instead of cc in cowork command (#35)
  e2e/special.spec.ts
  src-tauri/src/commands/special.rs
Due: tsc, clippy, rustfmt, rust-test

feat: add CLI interface for settings and indexer operations
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/cli/mod.rs
  src-tauri/src/cli/output.rs
  src-tauri/src/cli/progress.rs
  src-tauri/src/cli/runner.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/indexer.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
Due: clippy, rustfmt, rust-test

refactor: extract shared health check logic and fix API key issue reporting
  src-tauri/src/commands/health.rs
Due: clippy, rustfmt, rust-test

test: add testable helper for vector DB connection check
  src-tauri/src/commands/health.rs
Due: clippy, rustfmt, rust-test

fix: limit recent list to 6 items
  src-tauri/src/commands/history.rs
  src-tauri/src/config.rs
Due: clippy, rustfmt, rust-test

feat: improve CLI progress command with useful index stats
  src-tauri/src/cli/runner.rs
Due: clippy, rustfmt, rust-test

feat: add daemon architecture for CLI
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/cli/mod.rs
  src-tauri/src/cli/runner.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/config.rs
  src-tauri/src/daemon/client.rs
  src-tauri/src/daemon/handlers.rs
  src-tauri/src/daemon/mod.rs
  src-tauri/src/daemon/pid.rs
  src-tauri/src/daemon/socket.rs
  src-tauri/src/indexer.rs
  src-tauri/src/lib.rs
  src-tauri/src/logging.rs
Due: clippy, rustfmt, rust-test

fix: address code review issues in daemon architecture
  src-tauri/src/cli/runner.rs
  src-tauri/src/daemon/client.rs
  src-tauri/src/daemon/handlers.rs
  src-tauri/src/daemon/pid.rs
  src-tauri/src/logging.rs
Due: clippy, rustfmt, rust-test

fix: add BURROW_CONFIG_DIR env var override for test isolation
  src-tauri/src/config.rs
  src-tauri/tests/config_integration.rs
Due: clippy, rustfmt, rust-test

fix: add BURROW_CONFIG_DIR env var and update CLAUDE.md defaults
  CLAUDE.md
  src-tauri/src/config.rs
  src-tauri/tests/config_integration.rs
Due: clippy, rustfmt, rust-test

fix: add BURROW_CONFIG_DIR env var and update CLAUDE.md defaults (#37)
  CLAUDE.md
  src-tauri/src/config.rs
  src-tauri/tests/config_integration.rs
Due: clippy, rustfmt, rust-test

feat: add daemon architecture for CLI (#38)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/cli/mod.rs
  src-tauri/src/cli/runner.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/config.rs
  src-tauri/src/daemon/client.rs
  src-tauri/src/daemon/handlers.rs
  src-tauri/src/daemon/mod.rs
  src-tauri/src/daemon/pid.rs
  src-tauri/src/daemon/socket.rs
  src-tauri/src/indexer.rs
  src-tauri/src/lib.rs
  src-tauri/src/logging.rs
Due: clippy, rustfmt, rust-test

Path conditions:
  tsc: any of: *.{ts,tsx}
  clippy: any of: *.rs
  rustfmt: any of: *.rs
  rust-test: any of: *.rs
