Repository beastyrabbit/burrow: changes, and which lefthook commands are due for each by the changed paths.
All: tsc, clippy, rustfmt, rust-test

tsc:
  run: tsc --noEmit

clippy:
  run: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings

rustfmt:
  run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check

rust-test:
  run: cargo test --manifest-path src-tauri/Cargo.toml --quiet

feat: add toggle CLI command and improve install script
  scripts/install.sh
  src-tauri/src/cli/mod.rs
  src-tauri/src/cli/runner.rs
  src-tauri/src/main.rs
  vite.config.ts
Due: tsc, clippy, rustfmt, rust-test

feat: add toggle CLI command and improve install script (#39)
  scripts/install.sh
  src-tauri/src/cli/mod.rs
  src-tauri/src/cli/runner.rs
  src-tauri/src/main.rs
  vite.config.ts
Due: tsc, clippy, rustfmt, rust-test

feat: add unified model config and expanded AI indexing
  CLAUDE.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/chat.rs
  src-tauri/src/cli/mod.rs
  src-tauri/src/cli/runner.rs
  src-tauri/src/commands/files.rs
  src-tauri/src/config.rs
  src-tauri/src/daemon/handlers.rs
  src-tauri/src/indexer.rs
  src-tauri/src/ollama.rs
  src-tauri/tests/config_integration.rs
Due: clippy, rustfmt, rust-test

fix: address plugin audit issues and code simplifications
  src-tauri/src/cli/runner.rs
  src-tauri/src/config.rs
  src-tauri/src/daemon/handlers.rs
  src-tauri/src/daemon/mod.rs
  src-tauri/src/daemon/socket.rs
  src-tauri/src/indexer.rs
  src-tauri/src/ollama.rs
Due: clippy, rustfmt, rust-test

fix: pass runtime to fetch_context_for_query to avoid panic
  src-tauri/src/cli/runner.rs
Due: clippy, rustfmt, rust-test

feat: add unified model config and expanded AI indexing (#40)
  CLAUDE.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/chat.rs
  src-tauri/src/cli/mod.rs
  src-tauri/src/cli/runner.rs
  src-tauri/src/commands/files.rs
  src-tauri/src/config.rs
  src-tauri/src/daemon/handlers.rs
  src-tauri/src/daemon/mod.rs
  src-tauri/src/daemon/socket.rs
  src-tauri/src/indexer.rs
  src-tauri/src/ollama.rs
  src-tauri/tests/config_integration.rs
Due: clippy, rustfmt, rust-test

feat: route CLI chat, models, health, and stats through daemon
  src-tauri/src/cli/runner.rs
  src-tauri/src/daemon/client.rs
  src-tauri/src/daemon/handlers.rs
  src-tauri/src/ollama.rs
Due: clippy, rustfmt, rust-test

feat: add reusable secondary input system
  e2e/special.spec.ts
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/files.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/math.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/onepass_vault.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/commands/ssh.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/router.rs
  src/App.tsx
  src/styles.css
Due: tsc, clippy, rustfmt, rust-test

feat: add history management CLI commands
  CLAUDE.md
  src-tauri/src/cli/mod.rs
  src-tauri/src/cli/runner.rs
  src-tauri/src/commands/history.rs
Due: clippy, rustfmt, rust-test

fix: address review findings from plugin audit
  src-tauri/src/cli/runner.rs
  src-tauri/src/daemon/client.rs
  src-tauri/src/daemon/handlers.rs
Due: clippy, rustfmt, rust-test

fix: address plugin-audit security and UX issues
  e2e/special.spec.ts
  src-tauri/src/actions/handlers.rs
  src/App.tsx
Due: tsc, clippy, rustfmt, rust-test

refactor: extract helper functions in apps.rs and ssh.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/ssh.rs
Due: clippy, rustfmt, rust-test

fix: add CLI-level empty query validation
  src-tauri/src/cli/runner.rs
Due: clippy, rustfmt, rust-test

fix: use single-quote wrapping for shell-safe input substitution
  src-tauri/src/actions/handlers.rs
  src-tauri/src/commands/special.rs
  src/App.tsx
Due: tsc, clippy, rustfmt, rust-test

fix: use double quotes for sh -c arg to allow single-quoted substitution
  src-tauri/src/commands/special.rs
Due: clippy, rustfmt, rust-test

fix: prevent panic in with_chat_timeout when config not initialized
  src-tauri/src/config.rs
  src-tauri/src/daemon/client.rs
Due: clippy, rustfmt, rust-test

feat: add reusable secondary input system (#41)
  e2e/special.spec.ts
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/files.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/math.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/onepass_vault.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/commands/ssh.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/router.rs
  src/App.tsx
  src/styles.css
Due: tsc, clippy, rustfmt, rust-test

feat: add history management CLI commands (#43)
  CLAUDE.md
  src-tauri/src/cli/mod.rs
  src-tauri/src/cli/runner.rs
  src-tauri/src/commands/history.rs
Due: clippy, rustfmt, rust-test

fix: align standalone error logging with daemon handler
  src-tauri/src/cli/runner.rs
Due: clippy, rustfmt, rust-test

feat: route CLI commands through daemon (#42)
  src-tauri/src/cli/runner.rs
  src-tauri/src/config.rs
  src-tauri/src/daemon/client.rs
  src-tauri/src/daemon/handlers.rs
  src-tauri/src/ollama.rs
Due: clippy, rustfmt, rust-test

fix: correct skill name from /init-work to /init-cowork
  src-tauri/src/commands/special.rs
  src-tauri/src/router.rs
Due: clippy, rustfmt, rust-test

fix: pass cowork topic as single argument to claude CLI
  src-tauri/src/commands/special.rs
Due: clippy, rustfmt, rust-test

feat: add config validation with bounds checking (#26)
  src-tauri/src/config.rs
Due: clippy, rustfmt, rust-test

style: add intent comments for in-place trim mutations
  src-tauri/src/config.rs
Due: clippy, rustfmt, rust-test

fix: trim model name and API key values during validation
  src-tauri/src/config.rs
Due: clippy, rustfmt, rust-test

fix: trim ollama.url in-place during validation
  src-tauri/src/config.rs
Due: clippy, rustfmt, rust-test

fix: run /init-cowork skill even when no topic is provided
  src-tauri/src/commands/special.rs
Due: clippy, rustfmt, rust-test

feat: remove colon commands from GUI, enhance health indicator
  CLAUDE.md
  e2e/edge-cases.spec.ts
  e2e/health.spec.ts
  e2e/icons.spec.ts
  e2e/launcher.spec.ts
  e2e/modifier-keys.spec.ts
  e2e/settings.spec.ts
  src-tauri/src/actions/handlers.rs
  src-tauri/src/cli/runner.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/lib.rs
  src-tauri/src/router.rs
  src-tauri/tests/router_integration.rs
  src/App.tsx
  src/category-icons.tsx
  src/styles.css
Due: tsc, clippy, rustfmt, rust-test

feat: remove colon commands from GUI, enhance health indicator (#45)
  CLAUDE.md
  e2e/edge-cases.spec.ts
  e2e/health.spec.ts
  e2e/icons.spec.ts
  e2e/launcher.spec.ts
  e2e/modifier-keys.spec.ts
  e2e/settings.spec.ts
  src-tauri/src/actions/handlers.rs
  src-tauri/src/cli/runner.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/lib.rs
  src-tauri/src/router.rs
  src-tauri/tests/router_integration.rs
  src/App.tsx
  src/category-icons.tsx
  src/styles.css
Due: tsc, clippy, rustfmt, rust-test

docs: rewrite README with badges, screenshots, corrected facts, and full CLI docs
  README.md
  docs/screenshots/app-search.png
  docs/screenshots/file-search.png
  docs/screenshots/hero.png
Due: none

docs: rewrite README with badges, screenshots, corrected facts, and full CLI docs (#46)
  README.md
  docs/screenshots/app-search.png
  docs/screenshots/file-search.png
  docs/screenshots/hero.png
Due: none

feat: decouple e2e tests from Tauri runtime with AppContext and test-server
  e2e/chat.spec.ts
  e2e/icons.spec.ts
  e2e/launcher.spec.ts
  e2e/modifier-keys.spec.ts
  e2e/special.spec.ts
  playwright.config.ts
  src-tauri/Cargo.toml
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/bin/test_server.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/chat.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/context.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/lib.rs
  src-tauri/src/router.rs
  src/App.tsx
Due: tsc, clippy, rustfmt, rust-test

fix: eliminate duplicate DB connections and improve AppContext encapsulation
  CLAUDE.md
  src-tauri/src/actions/handlers.rs
  src-tauri/src/bin/test_server.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/chat.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/context.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/indexer.rs
  src-tauri/src/lib.rs
Due: clippy, rustfmt, rust-test

feat: decouple e2e tests from Tauri with AppContext and test-server (#47)
  CLAUDE.md
  e2e/chat.spec.ts
  e2e/icons.spec.ts
  e2e/launcher.spec.ts
  e2e/modifier-keys.spec.ts
  e2e/special.spec.ts
  playwright.config.ts
  src-tauri/Cargo.toml
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/bin/test_server.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/chat.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/context.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/indexer.rs
  src-tauri/src/lib.rs
  src-tauri/src/router.rs
  src/App.tsx
Due: tsc, clippy, rustfmt, rust-test

fix: add default-run to Cargo.toml so cargo run picks the main binary
  src-tauri/Cargo.toml
Due: none

fix: translate frontend command names to Tauri IPC _cmd suffix
  src/mock-tauri.ts
Due: tsc

fix: address code review findings
  src/mock-tauri.ts
Due: tsc

fix/tauri command name mismatch (#48)
  src/mock-tauri.ts
Due: tsc

feat: add Claude Code automations — hooks, skills, agent, pre-push gate
  .claude/agents/security-reviewer.md
  .claude/hooks/block-dep-edits.sh
  .claude/hooks/rustfmt-on-save.sh
  .claude/settings.json
  .claude/skills/new-command/SKILL.md
  .claude/skills/tdd-cycle/SKILL.md
  lefthook.yml
Due: none

Path conditions:
  tsc: any of: *.{ts,tsx}
  clippy: any of: *.rs
  rustfmt: any of: *.rs
  rust-test: any of: *.rs
