Repository beastyrabbit/burrow: changes, and which lefthook commands are due for each by the changed paths.
All: tsc, clippy, rustfmt, rust-test

tsc:
  run: tsc --noEmit

clippy:
  run: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings

rustfmt:
  run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check

rust-test:
  run: cargo test --manifest-path src-tauri/Cargo.toml --quiet

Fix post-rebase issues: visibility, clippy, unused imports
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/ssh.rs
  src-tauri/src/indexer.rs
  src-tauri/src/lib.rs
  src-tauri/tests/config_integration.rs
  src-tauri/tests/router_integration.rs
  src-tauri/tests/vector_db_integration.rs
Due: clippy, rustfmt, rust-test

feat: add document extraction, indexer, vector search, and settings (#2)
  CLAUDE.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/files.rs
  src-tauri/src/commands/math.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/commands/ssh.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/config.rs
  src-tauri/src/indexer.rs
  src-tauri/src/lib.rs
  src-tauri/src/ollama.rs
  src-tauri/src/router.rs
  src-tauri/src/text_extract.rs
  src-tauri/tests/config_integration.rs
  src-tauri/tests/router_integration.rs
  src-tauri/tests/vector_db_integration.rs
  src/App.tsx
  src/mock-tauri.ts
Due: tsc, clippy, rustfmt, rust-test

feat: add legacy .doc file extraction via LibreOffice headless
  .gitignore
  CLAUDE.md
  scripts/clone-examples.sh
  src-tauri/Cargo.toml
  src-tauri/src/config.rs
  src-tauri/src/text_extract.rs
  src-tauri/tests/config_integration.rs
  worktrees.json
Due: clippy, rustfmt, rust-test

fix: address CodeRabbit review feedback
  CLAUDE.md
  src-tauri/src/config.rs
  src-tauri/src/text_extract.rs
  src-tauri/tests/config_integration.rs
Due: clippy, rustfmt, rust-test

fix: add 30s timeout to LibreOffice subprocess, extract pure helper
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/text_extract.rs
Due: clippy, rustfmt, rust-test

feat: add modifier key actions for all result categories
  MODIFIERS.md
  README.md
  e2e/modifier-keys.spec.ts
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/actions/modifier.rs
  src-tauri/src/actions/utils.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/lib.rs
  src-tauri/src/router.rs
  src/App.tsx
  src/mock-tauri.ts
  src/types.ts
Due: tsc, clippy, rustfmt, rust-test

fix: reap zombie child on wait_timeout error, rename misleading test, use tempdir in config test
  CLAUDE.md
  src-tauri/src/config.rs
  src-tauri/src/text_extract.rs
Due: clippy, rustfmt, rust-test

feat: add AI chat with OpenRouter, health check, and ? prefix routing
  e2e/chat.spec.ts
  e2e/edge-cases.spec.ts
  e2e/health.spec.ts
  e2e/launcher.spec.ts
  e2e/settings.spec.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/chat.rs
  src-tauri/src/commands/chat.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/config.rs
  src-tauri/src/lib.rs
  src-tauri/src/router.rs
  src/App.tsx
  src/mock-tauri.ts
  src/styles.css
Due: tsc, clippy, rustfmt, rust-test

fix: address CodeRabbit review feedback
  README.md
  e2e/modifier-keys.spec.ts
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/actions/modifier.rs
  src-tauri/src/actions/utils.rs
  src-tauri/src/commands/onepass.rs
  src/App.tsx
Due: tsc, clippy, rustfmt, rust-test

docs: update CLAUDE.md with AI chat config, test counts, and patterns
  CLAUDE.md
Due: none

feat: add legacy .doc file extraction via LibreOffice headless (#3)
  .gitignore
  CLAUDE.md
  scripts/clone-examples.sh
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/config.rs
  src-tauri/src/text_extract.rs
  worktrees.json
Due: clippy, rustfmt, rust-test

feat: add modifier key actions for all result categories (#4)
  MODIFIERS.md
  README.md
  e2e/modifier-keys.spec.ts
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/actions/modifier.rs
  src-tauri/src/actions/utils.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/lib.rs
  src-tauri/src/router.rs
  src/App.tsx
  src/mock-tauri.ts
  src/types.ts
Due: tsc, clippy, rustfmt, rust-test

feat: add AI chat, health check, and ? prefix routing (#5)
  CLAUDE.md
  e2e/chat.spec.ts
  e2e/edge-cases.spec.ts
  e2e/health.spec.ts
  e2e/launcher.spec.ts
  e2e/settings.spec.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/chat.rs
  src-tauri/src/commands/chat.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/config.rs
  src-tauri/src/lib.rs
  src-tauri/src/router.rs
  src/App.tsx
  src/mock-tauri.ts
  src/styles.css
Due: tsc, clippy, rustfmt, rust-test

fix: use correct setup-worktree key in worktrees.json
  worktrees.json
Due: none

feat: add special commands with # prefix routing
  e2e/special.spec.ts
  src-tauri/src/actions/handlers.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/router.rs
  src/App.tsx
  src/mock-tauri.ts
Due: tsc, clippy, rustfmt, rust-test

feat: add special commands with # prefix routing (#8)
  e2e/special.spec.ts
  src-tauri/src/actions/handlers.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/router.rs
  src/App.tsx
  src/mock-tauri.ts
Due: tsc, clippy, rustfmt, rust-test

feat: add application icons and category fallback SVGs
  CLAUDE.md
  e2e/icons.spec.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/apps.rs
  src-tauri/src/icons.rs
  src-tauri/src/lib.rs
  src/App.tsx
  src/category-icons.tsx
  src/mock-tauri.ts
  src/styles.css
Due: tsc, clippy, rustfmt, rust-test

fix: address coderabbit review feedback
  src-tauri/src/commands/apps.rs
  src-tauri/src/icons.rs
  src/App.tsx
Due: tsc, clippy, rustfmt, rust-test

feat: add application icons and category fallback SVGs (#6)
  CLAUDE.md
  e2e/icons.spec.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/apps.rs
  src-tauri/src/icons.rs
  src-tauri/src/lib.rs
  src/App.tsx
  src/category-icons.tsx
  src/mock-tauri.ts
  src/styles.css
Due: tsc, clippy, rustfmt, rust-test

feat: show all apps on empty query with auto-scroll
  e2e/launcher.spec.ts
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/router.rs
  src/App.tsx
  src/mock-tauri.ts
Due: tsc, clippy, rustfmt, rust-test

feat: show all apps on empty query with auto-scroll (#9)
  e2e/launcher.spec.ts
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/router.rs
  src/App.tsx
  src/mock-tauri.ts
Due: tsc, clippy, rustfmt, rust-test

feat: replace mock data with HTTP bridge for real backend testing
  CLAUDE.md
  README.md
  examples
  playwright.config.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/actions/modifier.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/lib.rs
  src/mock-tauri.ts
  vite.config.ts
Due: tsc, clippy, rustfmt, rust-test

fix: clarify Playwright auto-starts dev server in CLAUDE.md
  CLAUDE.md
Due: none

feat: replace mock data with HTTP bridge for real backend testing (#7)
  CLAUDE.md
  README.md
  examples
  playwright.config.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/actions/modifier.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/lib.rs
  src/mock-tauri.ts
  vite.config.ts
Due: tsc, clippy, rustfmt, rust-test

feat: add dry-run mode to prevent real app launches during tests
  playwright.config.ts
  src-tauri/src/actions/dry_run.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/actions/utils.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/router.rs
Due: tsc, clippy, rustfmt, rust-test

fix: spread process.env in playwright webServer config
  playwright.config.ts
Due: tsc

fix: remove examples symlink, use cp in worktrees
  examples
  worktrees.json
Due: none

docs: rewrite README with full config table, architecture, and better structure
  README.md
Due: none

docs: rewrite README with full config table, architecture, and better structure (#11)
  README.md
Due: none

fix: add dry-run guards to all external calls, fix CSS selector and dead code
  e2e/settings.spec.ts
  src-tauri/src/actions/dry_run.rs
  src-tauri/src/chat.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/icons.rs
  src-tauri/src/lib.rs
  src-tauri/src/ollama.rs
  src-tauri/src/router.rs
Due: tsc, clippy, rustfmt, rust-test

feat: add single-instance toggle support and install-app script
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
Due: clippy, rustfmt, rust-test

fix: address coderabbit review — extract pure helpers and add tests
  src-tauri/src/lib.rs
  src-tauri/src/router.rs
Due: clippy, rustfmt, rust-test

feat: add single-instance toggle and install script (#12)
  e2e/settings.spec.ts
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/actions/dry_run.rs
  src-tauri/src/chat.rs
  src-tauri/src/commands/health.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/icons.rs
  src-tauri/src/lib.rs
  src-tauri/src/ollama.rs
  src-tauri/src/router.rs
Due: tsc, clippy, rustfmt, rust-test

feat: window lifecycle, 1Password multi-account caching, and session tokens
  e2e/global-teardown.ts
  package.json
  playwright.config.ts
  scripts/install.sh
  src-tauri/src/actions/handlers.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/lib.rs
  src/App.tsx
  vite.config.ts
Due: tsc, clippy, rustfmt, rust-test

fix: log wtype errors, clarify delay comment, recombine session tests
  src-tauri/src/actions/handlers.rs
  src-tauri/src/commands/onepass.rs
Due: clippy, rustfmt, rust-test

fix: address coderabbit review feedback
  src-tauri/src/commands/onepass.rs
  src/App.tsx
Due: tsc, clippy, rustfmt, rust-test

fix: address coderabbit round 2 feedback
  src-tauri/src/commands/onepass.rs
  src/App.tsx
Due: tsc, clippy, rustfmt, rust-test

feat: window lifecycle, 1Password session caching, and multi-account support (#18)
  e2e/global-teardown.ts
  package.json
  playwright.config.ts
  scripts/install.sh
  src-tauri/src/actions/handlers.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/lib.rs
  src/App.tsx
  vite.config.ts
Due: tsc, clippy, rustfmt, rust-test

feat: replace 1Password disk cache with in-memory zeroize-protected vault
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/actions/handlers.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/onepass_vault.rs
  src-tauri/src/config.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/lib.rs
Due: clippy, rustfmt, rust-test

fix: return Zeroizing<String> from vault secrets, add HTTP timeout for icon fetch
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/onepass_vault.rs
Due: clippy, rustfmt, rust-test

Path conditions:
  tsc: any of: *.{ts,tsx}
  clippy: any of: *.rs
  rustfmt: any of: *.rs
  rust-test: any of: *.rs
