Repository beastyrabbit/burrow: changes, and which lefthook commands are due for each by the changed paths.
All: tsc, clippy, rustfmt, rust-test

lefthook.yml:

output:
  - summary
  - failure
  - execution_out

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks git --pre-commit --no-banner
    tsc:
      glob: "**/*.{ts,tsx}"
      run: npx tsc --noEmit
    clippy:
      glob: "**/*.rs"
      run: cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings
    rustfmt:
      glob: "**/*.rs"
      run: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check
    rust-test:
      glob: "**/*.rs"
      run: cargo test --manifest-path src-tauri/Cargo.toml --quiet

pre-push:
  parallel: false
  commands:
    rust-test-full:
      run: cargo test --manifest-path src-tauri/Cargo.toml
    playwright-e2e:
      run: npx playwright test

fix: address greptile review feedback
  e2e/codex-output.spec.ts
  src/CodexOutputView.tsx
Due: tsc

fix: reset bufferExpired when process completes
  src/CodexOutputView.tsx
Due: tsc

feat: add Codex JSONL output window with structured rendering (#57)
  e2e/codex-output.spec.ts
  package.json
  pnpm-lock.yaml
  src-tauri/src/actions/handlers.rs
  src-tauri/src/actions/mod.rs
  src-tauri/src/actions/output_window.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/files.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/math.rs
  src-tauri/src/commands/onepass.rs
  src-tauri/src/commands/onepass_vault.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/commands/ssh.rs
  src-tauri/src/commands/vectors.rs
  src-tauri/src/router.rs
  src-tauri/src/window_manager.rs
  src/CodexOutputView.css
  src/CodexOutputView.tsx
  src/OutputView.tsx
  src/main.tsx
  src/useAutoScroll.ts
  src/useOutputPolling.ts
Due: tsc, clippy, rustfmt, rust-test

feat: auto-refresh desktop app cache
  e2e/global-teardown.ts
  e2e/launcher.spec.ts
  e2e/modifier-keys.spec.ts
  playwright.config.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/actions/handlers.rs
  src-tauri/src/bin/test_server.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/config.rs
  src-tauri/src/context.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/lib.rs
  src-tauri/src/router.rs
  src/App.tsx
  src/mock-tauri.ts
  src/styles.css
Due: tsc, clippy, rustfmt, rust-test

fix: resolve remaining review conversations
  playwright.config.ts
  src/App.tsx
Due: tsc

fix: address code review findings
  AGENTS.md
  CLAUDE.md
  README.md
  package.json
  playwright.config.ts
  scripts/portless-dev.mjs
  scripts/portless-resolver.mjs
  scripts/portless-url.mjs
  scripts/portless.test.mjs
  scripts/tauri.mjs
  src-tauri/src/dev_server.rs
Due: clippy, rustfmt, rust-test

fix: resolve remaining review conversations
  src-tauri/src/commands/apps.rs
Due: clippy, rustfmt, rust-test

fix: resolve remaining review conversations
  scripts/portless-dev.mjs
Due: none

fix: address final review findings
  package.json
  scripts/tauri-helpers.mjs
  scripts/tauri.mjs
  scripts/tauri.test.mjs
  src-tauri/src/dev_server.rs
Due: clippy, rustfmt, rust-test

fix: resolve remaining review conversations
  e2e/special.spec.ts
  src-tauri/src/commands/apps.rs
  src/App.tsx
Due: tsc, clippy, rustfmt, rust-test

fix: tighten portless review follow-ups
  AGENTS.md
  CLAUDE.md
  README.md
  playwright.config.ts
  scripts/playwright-config.mjs
  scripts/playwright-config.test.mjs
  scripts/portless-resolver.mjs
  scripts/portless.test.mjs
  src-tauri/src/dev_server.rs
Due: clippy, rustfmt, rust-test

feat: auto-refresh desktop app cache
  e2e/global-teardown.ts
  e2e/launcher.spec.ts
  e2e/modifier-keys.spec.ts
  e2e/special.spec.ts
  playwright.config.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/actions/handlers.rs
  src-tauri/src/bin/test_server.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/special.rs
  src-tauri/src/config.rs
  src-tauri/src/context.rs
  src-tauri/src/dev_server.rs
  src-tauri/src/lib.rs
  src-tauri/src/router.rs
  src/App.tsx
  src/mock-tauri.ts
  src/styles.css
Due: tsc, clippy, rustfmt, rust-test

fix: resolve final greptile follow-ups
  scripts/playwright-config.mjs
  scripts/playwright-config.test.mjs
  src-tauri/src/dev_server.rs
Due: clippy, rustfmt, rust-test

fix: address code review findings (#59)
  AGENTS.md
  CLAUDE.md
  README.md
  package.json
  playwright.config.ts
  scripts/playwright-config.mjs
  scripts/playwright-config.test.mjs
  scripts/portless-dev.mjs
  scripts/portless-resolver.mjs
  scripts/portless-url.mjs
  scripts/portless.test.mjs
  scripts/tauri-helpers.mjs
  scripts/tauri.mjs
  scripts/tauri.test.mjs
  src-tauri/src/dev_server.rs
Due: clippy, rustfmt, rust-test

Add Burrow favicon SVG icon
  favicon.svg
Due: none

Remove pre-push Playwright test hook
  lefthook.yml
Due: none
